//styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import"font/fonts.scss";
@import"components/themeSwitcher.scss";
@import"themes/darkTheme.scss";
@import"components/scrollToTopBtn.scss";
@import"components/utilityClasses.scss";
@import"components/socialMediaButtons.scss";
@import"components/stickyNavBar.scss";
@import"components/sideNav.scss";
@import"components/scrollBar.scss";
@import"components/formClasses.scss";
/*@import"components/hiddenScrollbar.scss";*/
@import"layouts/ImgLayout.scss";
@import"vendors/fullpage.css";


body {
    font-family: 'Montserrat Regular';
    background-color: #292929;
    color:#f0f0f0;
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
}

#surname {
  color: #2b8fba;
  font-family: 'Montserrat Bold Italic';
}

p{
  font-family: 'Montserrat SemiBold';
  text-align: left;
  font-size: 1.3vw;
  line-height: 1.7;
  word-spacing: 6px;
  margin-bottom: 1vw;
  margin-left: 20px;
  margin-right: 20px;
}

h1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: right;
  font-family: 'Montserrat Bold Italic';
/*  color: #2b8fba;*/
  font-size: 2.5vw;
  line-height: 1.6;
  word-spacing: 8px;
  width: 50vw;
}

h2{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-family: 'Montserrat Bold Italic';
  /*color: #2b8fba;*/
  font-size: 2vw;
  line-height: 1.6;
  word-spacing: 8px;
  width: 50vw;
  margin-left: 20px;
  margin-right: 20px;
}

h3{
  padding-bottom: 20px;
  padding-left: 10px;
  font-family: 'Montserrat Bold';
  color: white;
  font-size: 24px;
}

ul {
  font-family: 'Montserrat SemiBold';
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  line-height: 1.7;
  word-spacing: 6px;
  list-style: unset;
}

.body-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  font-family: 'Montserrat Italic';
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #3b3b3b;
  color: #f0f0f0;
  height: 125px;
  margin-top: 70px;
}

/* Mobile Styles */
@media only screen and (max-width: 420px) {

@import"components/themeSwitcherMobile.scss";

  #homeNavContainer{
     border-top: none;
  }

  h1{
    font-size: 6vw;
    width: 350px;
    word-spacing: 5px;
    text-align: left;
  }

  h2{
    font-size: 4.5vw;
    width: 320px;
    word-spacing: 4px;
  /*  justify-content: center;*/
  }

  .fontSizeTitles {
    font-size: 4vw;
  }

  p{
    font-size: 3.6vw;
    word-spacing: 4px;
    margin-bottom: 3vw;
  }

  .flexCenter{
    flex-direction: column;
    align-items: center;
  }

  .justifyCenter {
    display: flex;
    justify-content: space-around;
  }

  .flexCenterColumnReverse{
    flex-direction: column-reverse;
    align-items: center;
  }

  .flexContainer{
    flex-direction: column;
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 40px;
  }

  .buttonBasic{
    margin-top: 20px;
    font-size: 4.5vw;
  }

  .container{
    width: auto;
  }

  .navBarContent {
    font-size: 17px;
  }

  .width32{
    width: 60vw;
  }

  .width40{
    width: 72vw;
  }

  .widthH2{
    width: 55vw;
  }

  .height39{
    height: auto;
  }

  .marginRight100{
    margin-right: 1.3vw;
  }

  .homeImgLayout {
    width: 100%;
    height: 100%;
    padding-top: 20px;
  }

  .imgSideText1 {
    width: 68vw;
    height: auto;
    margin-top: 20px;
  }

  .imgSideText2 {
    width: 100vw;
    height: 50vw;
    border-radius: 0px;
    margin-top: 20px;
  }

  .imgDescriptionLive {
    font-size: 10px;
    left: -55px;
    bottom: -33px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    visibility: visible;
    opacity: 100;
  }

  .imgDescriptionGit {
    font-size: 10px;
    left: 35px;
    bottom: -33px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    visibility: visible;
    opacity: 100;
  }

  .imgMysite {
    width: 225px;
    height: 150px;
  }

  .textContainer{
    padding-top: 5.5vw;
    background-color: #fff0;
  }

  .widthTextContainer{
    width: 215px;;
  }

  .portfolioContainer{
    height: 700px;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    justify-content: normal;

  }

  .marginTop70 {
    margin-top: 30px;
  }

  footer{
    height: 100px;
    margin-top: 30px;
  }

  footer div{
    font-size: 10px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 800px) {

  #homeNavContainer{
    border-top: none;
  }

  h1 {
      font-size: 2.5vw;
      word-spacing: 5px;
  }

  h2{
    font-size: 2vw;
    word-spacing: 5px;
  }

  p{
    font-size: 2vw;
    word-spacing: 4px;
  }

  .flexCenterColumnReverse{
    flex-direction: column-reverse;
    align-items: center;
  }

  .height39{
    height: auto;
    width: 60vw;
  }

  .width32{
    width: 48vw;
  }

  .width40{
    width: 82vw;
  }

  .widthH2{
    width: 45vw;
  }

  .fontSizeTitles {
    font-size: 3vw;
  }

  .homeImgLayout {
    width: 40vw;
    height: 40vw;
  }

  .imgSideText2 {
    width: 55vw;
    height: 40vw;
  }

  .imgDescriptionLive {
    bottom: -60px;
  }

  .imgDescriptionGit {
    bottom: -60px;
    left: 50px;
  }

  .imgMysite {
    width: 330px;
    height: 180px;
  }

  .buttonBasic{
    margin-top: 20px;
    font-size: 2.2vw;
  }

  .container{
    width: 65vw;
  }

  .marginRight100{
    margin-right: 1.3vw;
  }

  .flexContainer{
    padding: 25px;
    padding-top: 80px;
  }

  .portfolioContainer{
    grid-template-columns: 340px 340px;
  }

  .textContainer{
    background-color: #fff0;
  }

  .widthTextContainer{
    width: 215px;
  }

  .directionRow{
    flex-direction: row;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 801px) {

  #homeNavContainer{
    border-top: 1px solid #2b8fba;
  }

}
