* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import"font/fonts.scss";
@import"components/themeSwitcher.scss";
@import"themes/darkTheme.scss";
@import"components/scrollToTopBtn.scss";
@import"components/stickyNavBar.scss";
@import"components/sideNav.scss";
@import"components/scrollBar.scss";
/*@import"components/hiddenScrollbar.scss";*/
@import"layouts/homeImgLayout.scss";
@import"layouts/textSideImg.scss";
@import"vendors/fullpage.css";


body {
    font-family: 'Montserrat Regular';
    background-color: #292929;
    color:#f0f0f0;
}

#surname {
  color: #2b8fba;
  font-family: 'Montserrat SemiBold';
}

p{
  text-align: center;
}

h1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-family: 'Montserrat Bold Italic';
  font-size: 2.5vw;
  line-height: 1.6;
  word-spacing: 8px;
  width: 50vw;
}

h2{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-family: 'Montserrat SemiBold Italic';
  font-size: 2vw;
  line-height: 1.6;
  word-spacing: 8px;
  width: 50vw;
}

.body-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


.flexContainer{
  display:flex;
  justify-content: space-evenly;
  padding: 50px;
  padding-top: 80px;
}

.textContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  padding-right: 20px;
}

footer {
  font-family: 'Montserrat Italic';
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #353535;
  color: #f0f0f0;
  height: 70px;
}

/* Mobile Styles */
@media only screen and (max-width: 420px) {

@import"components/themeSwitcherMobile.scss";

  #homeNavContainer{
     border-top: none;
  }

  h1{
    font-size: 7vw;
    width: 350px;
    word-spacing: 5px;
  }

  h2{
    font-size: 4vw;
    width: 320px;
    word-spacing: 5px;
  }

  .flexContainer{
    flex-direction: column;
    padding: 20px;
    padding-top: 25px;
  }

  .homeImgLayout {
    width: 100%;
    height: 100%;
    padding-top: 20px;
  }

  .textContainer{
    width: 320px;
  }

  footer div{
    font-size: 10px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 800px) {

  #homeNavContainer{
    border-top: none;
  }

  h1 {
      font-size: 2.5vw;
      word-spacing: 5px;
  }

  h2{
    font-size: 2vw;
    word-spacing: 5px;
  }

  .homeImgLayout {
    width: 40vw;
    height: 40vw;
  }

  .flexContainer{
  /*  flex-direction: column;*/
    padding: 25px;
    padding-top: 80px;
  }


}

/* Desktop Styles */
@media only screen and (min-width: 801px) {

  #homeNavContainer{
    border-top: 1px solid #2b8fba;
  }

}
