* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import"font/fonts.scss";
@import"components/themeSwitcher.scss";
@import"themes/darkTheme.scss";
@import"components/scrollToTopBtn.scss";
@import"components/stickyNavBar.scss";
@import"components/sideNav.scss";
@import"components/scrollBar.scss";
/*@import"components/hiddenScrollbar.scss";*/
@import"layouts/homeImgLayout.scss";
@import"vendors/fullpage.css";


body {
    font-family: 'Montserrat Regular';
}

p{
  text-align: center;
}

h1{
  display: flex;
  align-items: center;
  text-align: center;
}

.body-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  font-family: 'Montserrat Italic';
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2b8fba;
  color: #f0f0f0;
  height: 70px;
}

/* Mobile Styles */
@media only screen and (max-width: 420px) {

@import"components/themeSwitcherMobile.scss";

  #homeNavContainer{
     border-top: none;
  }

  .flexContainer{
    flex-direction: column;
  }

  .homeImgLayout {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  body {
    background-color: #f0f0f0;

  }

  footer {
    font-size: 11px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 800px) {

  #homeNavContainer{
    border-top: none;
  }

  .flexContainer{
    flex-direction: column;
  }

  .homeImgLayout {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  body {
    background-color: #f0f0f0;

  }
}

/* Desktop Styles */
@media only screen and (min-width: 801px) {

  #homeNavContainer{
    border-top: 1px solid #2b8fba;
  }

  body {
    background-color: #f0f0f0;

  }
}
