
.word-rotate {
  list-style-type: none;
  margin: 0;
  padding: 0;
  // border: 1px solid black;
  width: 10em;
  height: 1em;
  position: relative;
  display: inline-block;
  li {
    height: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
  }
}
