input[type=text], select, textarea {
  font-family: 'Montserrat Regular';
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline-color: #2b8fba;
  background-color: #d2d2d2;
}

input[type=submit] {
  font-family: 'Montserrat SemiBold';
  background-color: #515151;
  padding: 20px;
  text-decoration: none;
  border: none;
  border-radius: 0%;
  color: #f0f0f0;
  cursor: pointer;
  font-size: 18px;
  line-height: 6px;
  width: auto;
  margin-left: 1.3vw;
  margin-right: 1.3vw;
  border-radius: 25px;
}

input[type=submit]:hover {
  background-color: #292929;
}

.container {
  border-radius: 5px;
  background-color: #3b3b3b;
  padding: 20px;
  font-family: 'Montserrat Italic';
  font-weight: bold;
  width: 50vw;
}
