input[type=text], select, textarea {
  font-family: 'Montserrat Regular';
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  font-family: 'Montserrat Regular';
  background-color: #2b8fba;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #216e8f;
}

.container {
  border-radius: 5px;
  background-color: #3b3b3b;
  padding: 20px;
}
