
.content{
   overflow-y: hidden;
 }

 .content:hover{
   overflow-y: auto;
 }

 .scrollbar::-webkit-scrollbar {
   width: 2px;
 }

 .scrollbar::-webkit-scrollbar-track-piece {
   background-color: #fff;
 } /* The background color of the inner rail of the scroll bar */

 .scrollbar::-webkit-scrollbar-track {
   background-color: #fff;
 } /*  Background color of the outer rail of the scroll bar */

 .scrollbar::-webkit-scrollbar-thumb {
   background-color: #d4d8e2;
 } /*  Inner slider color of scroll bar */

 .scrollbar::-webkit-scrollbar-button {
   background-color: #fff;
   display: none;
 } /*  The color of the monitor button at both ends of the slide rail */
