.fa {
  font-size: 12px;
  width: 13px;
  text-align: center;
  text-decoration: none;
  margin-right: 15px;
  margin-left: 15px;
}

.fa:hover {
  color: #2b8fba;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-skype {
  color: white;
}

.fa-linkedin {
  color: white;
}

.socialMediaFontSize{
  font-size: 20px;
  padding-top: 10px;
}
