.fa {
  font-size: 12px;
  width: 13px;
  text-align: center;
  text-decoration: none;
  margin-right: 15px;
  margin-left: 15px;
  /*&:hover {
    color: #2b8fba;
  }*/
}

.fa-facebook {
  color: white;
  &:hover {
    color: #2567d9;
  }
}

.fa-twitter {
  color: white;
  &:hover {
    color: #55ACEE;
  }
}

.fa-instagram {
  color: white;
  &:hover {
    color: #d6229d;
  }
}

.fa-skype {
  color: white;
  &:hover {
    color: #00aff0;
  }
}

.fa-linkedin {
  color: white;
  &:hover {
    color: #0e76a8;
  }
}

.fa-github {
  color: white;
  &:hover {
    color: #b318f5;
  }
}

.socialMediaFontSize{
  font-size: 20px;
  padding-top: 10px;
}
