.homeImgLayout {
  display: flex;
  justify-content: center;
  width: 38vw;
  height: 40vw;
}

.aboutImgLayout {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 30vw;
  margin-bottom: 25px;
}

.imgSideText1 {
  width: auto;
  height: 30vw;
}

.imgSideText2 {
  width: 40vw;
  height: 30vw;
}
