.homeImgLayout {
  display: flex;
  justify-content: center;
  width: 38vw;
  height: 40vw;
}

.aboutImgLayout {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 30vw;
  margin-bottom: 25px;
}

.textSideImg {
  flex-direction: column;
  width: 55%;
}

.imgDescription {
  font-family: 'Montserrat Bold';
  text-decoration: none;
  position: absolute;
  width: max-content;
  padding-right: 4vw;
  padding-left: 4vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  bottom: -11.5vw;
  left: 13vw;
  border-radius: 25px;
  background: #f0f0f0;
  color: black;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  &:hover{
    background: #515151;
    color: #f0f0f0;
  }
}

.imgWrap{
  position: relative;
  width: 10vw;
  height: 8vw;
  cursor: pointer;
    &:hover .imgDescription {
      visibility: visible;
      opacity: 1;
  }
}

.imgSideText1 {
  width: auto;
  height: 39vw;
}

.imgSideText2 {
  width: 40vw;
  height: 28vw;
  border-radius: 25px;
}

.imgMysite {
  width: 39vw;
  height: 23vw;
  padding: 20px;
  background-color: #3b3b3b;
  border-radius: 25px;
  cursor: pointer;
/*  -webkit-filter: brightness(100%);
  &:hover {
    -webkit-filter: brightness(110%);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
  }*/
}
