.homeImgLayout {
  display: flex;
  justify-content: center;
  width: 38vw;
  height: 40vw;
}

.aboutImgLayout {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 30vw;
  margin-bottom: 25px;
}

.textSideImg {
  flex-direction: column;
  width: 55%;
}

.imgDescriptionGit {
  font-family: 'Montserrat Bold';
  text-decoration: none;
  position: absolute;
  width: max-content;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: -80px;
  left: 55px;
  border-radius: 25px;
  background: #f0f0f0;
  color: black;
  //visibility: hidden;
//  opacity: 0;
  transition: opacity .2s, visibility .2s;
  &:hover{
    background: #515151;
    color: #f0f0f0;
  }
}

.imgDescriptionLive {
  font-family: 'Montserrat Bold';
  text-decoration: none;
  position: absolute;
  width: max-content;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: -80px;
  left: -85px;
  border-radius: 25px;
  background: #f0f0f0;
  color: black;
 // visibility: hidden;
 //  opacity: 0;
  transition: opacity .2s, visibility .2s;
  &:hover{
    background: #515151;
    color: #f0f0f0;
  }
}

.imgWrap{
  position: relative;
  width: 100px;
  height: 90px;
  cursor: pointer;
    &:hover .imgDescriptionGit {
      visibility: visible;
      opacity: 1;
  }
  &:hover .imgDescriptionLive {
    visibility: visible;
    opacity: 1;
  }
}

.imgSideText1 {
  width: auto;
  height: 39vw;
  border-radius: 25px;
}

.imgSideText2 {
  width: 40vw;
  height: 28vw;
  border-radius: 25px;
}

.imgMysite {
  width: 350px;
  height: 200px;
  padding: 20px;
  background-color: #3b3b3b;
  border-radius: 25px;
  cursor: pointer;
  transform: translate(-35%);
/*  -webkit-filter: brightness(100%);
  &:hover {
    -webkit-filter: brightness(110%);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
  }*/
}
