body.darktheme{
  color:#0e76a8;
  background-color:#f0f0f0;
  /*transition: .6s;*/
}

body.darktheme #navbar{
  color:#292929;
  background-color:#f0f0f0;
  /*transition: .6s;*/
}

body.darktheme #mySidenav{
  color:#292929;
  background-color:#f0f0f0;
  /*transition: .6s;*/
}

body.darktheme #Surname{
  color:#292929;
  /*transition: .6s;*/
}

body.darktheme footer {
    background-color: #2b8fba;
}

body.darktheme .scrollToTopBtn{
    background-color: #2b8fba;
    border: 1px solid #f0f0f0;
    &:hover {
    background-color: #216e8f;
    color: #f0f0f0;
  }
}

body.darktheme h1{
  color: #0e76a8;
}

body.darktheme h2{
  color: #0e76a8;
}

body.darktheme h3{
  color: #2b8fba;
}

body.darktheme .lightBackground {
  background-color: #d6ebf3;
}

body.darktheme #titleblack {
  color: #0e76a8;
}

body.darktheme .buttonBasic {
    background-color: #2b8fba;
    &:hover {
    background-color: #216e8f;
  }
}

body.darktheme .container{
  background-color: #2b8fba;
  color: white;
}

body.darktheme input[type=submit] {
  background-color: #41a7d3;
  &:hover{
  background-color: #216e8f;
  }
}

body.darktheme input[type=text] {
  background-color: #f0f0f0;
}

body.darktheme textarea{
  background-color: #f0f0f0;
}
