body.darktheme{
  color:#f0f0f0;
  background-color:#292929;
  /*transition: .6s;*/
}

body.darktheme #navbar{
  color:#f0f0f0;
  background-color:#292929;
  /*transition: .6s;*/
}

body.darktheme #mySidenav{
  color:#f0f0f0;
  background-color:#292929;
  /*transition: .6s;*/
}

body.darktheme #Surname{
  color:#f0f0f0;
  /*transition: .6s;*/
}
