body.darktheme{
  color:#292929;
  background-color:#f0f0f0;
  /*transition: .6s;*/
}

body.darktheme #navbar{
  color:#292929;
  background-color:#f0f0f0;
  /*transition: .6s;*/
}

body.darktheme #mySidenav{
  color:#292929;
  background-color:#f0f0f0;
  /*transition: .6s;*/
}

body.darktheme #Surname{
  color:#292929;
  /*transition: .6s;*/
}

body.darktheme footer {
    background-color: #2b8fba;
}

body.darktheme .scrollToTopBtn{
    background-color: #2b8fba;
    border: 1px solid #f0f0f0;
    &:hover {
    background-color: #216e8f;
    color: #f0f0f0;
  }
}
